/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --main-text-color: #353430;
  --bg-color: #fff1f7;
  --button-color: #353430;
  --button-hover-border: #32312d66;
  --section-header-color: #353430;
  --article-header-color: #353430;
  --main-header-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --bg-image: url("../images/cover-image-light.png");
  --rec-type: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #353430;
    --bg-color: #fff1f7;
    --button-color: #353430;
    --button-hover-border: #32312d66;
    --section-header-color: #353430;
    --article-header-color: #353430;
    --main-header-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --bg-image: url("../images/cover-image-light.png");
    --rec-type: none;
  }
}